/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
.triangulo {
  border-style: solid;
  border-width: 18px;
  width: 0;
  height: 0;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 50%; }
  .triangulodiv {
    border-style: solid;
    border-width: 10px;
    width: 0;
    height: 0; }
  .triangulo.derecha {
    right: 1%;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.4); }
    .triangulo.derechadiv {
      border-color: transparent transparent transparent red; }
  .triangulo.izquierda {
    left: 1%;
    border-color: transparent rgba(0, 0, 0, 0.4) transparent transparent; }
    .triangulo.izquierdadiv {
      border-color: transparent white transparent transparent; }
  .triangulo.arriba {
    border-color: black transparent transparent transparent; }
    .triangulo.arribadiv {
      border-color: white transparent transparent transparent;
      top: -21px;
      left: -10px; }
  .triangulo.abajo {
    border-color: transparent transparent black transparent; }
    .triangulo.abajodiv {
      border-color: transparent transparent white transparent;
      top: 1px;
      left: -10px; }

#slider {
  animation-name: hero;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  content: url(/imagenes/Git.png);
  /*
    animation: hero 4s infinite
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    */
  grid-area: header;
  transition: all 1s;
  background-position: center; }

@keyframes hero {
  from {
    content: url(/imagenes/Git.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  to {
    src: url(/imagenes/Git.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; } }

#menu:checked + .barra li {
  display: block;
  -webkit-animation: slide-down .5s ease-out;
  -moz-animation: slide-down .5s ease-out; }

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

.bubbly-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 0.3rem 0.2rem;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #aa4343;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: absolute;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 0, 0.5); }
  .bubbly-button:focus {
    outline: 0; }
  .bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat; }
  .bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #aa4343 20%, transparent 20%), radial-gradient(circle, transparent 20%, #aa4343 20%, transparent 30%), radial-gradient(circle, #aa4343 20%, transparent 20%), radial-gradient(circle, #aa4343 20%, transparent 20%), radial-gradient(circle, transparent 10%, #aa4343 15%, transparent 20%), radial-gradient(circle, #aa4343 20%, transparent 20%), radial-gradient(circle, #aa4343 20%, transparent 20%), radial-gradient(circle, #aa4343 20%, transparent 20%), radial-gradient(circle, #aa4343 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%; }
  .bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #aa4343 20%, transparent 20%), radial-gradient(circle, #aa4343 20%, transparent 20%), radial-gradient(circle, transparent 10%, #aa4343 15%, transparent 20%), radial-gradient(circle, #aa4343 20%, transparent 20%), radial-gradient(circle, #aa4343 20%, transparent 20%), radial-gradient(circle, #aa4343 20%, transparent 20%), radial-gradient(circle, #aa4343 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%; }
  .bubbly-button:active {
    transform: scale(1);
    background-color: #983c3c;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2); }
  .bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards; }
  .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards; }

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%; }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%; }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%; } }

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%; }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%; }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-image: url(); }

body {
  font-family: 'sans-serif', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: black; }

@font-face {
  font-family: 'Matrix';
  src: url("/fuentes/matrix.ttf") format("opentype"); }

main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5rem 50rem 120rem 35rem;
  grid-row-gap: 0%;
  grid-column-gap: 2.5%;
  min-width: 100%;
  grid-template-areas: " barra " " hero " " cont " " footer "; }
  @media only screen and (max-width: 56.25em) {
    main {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 5rem 50rem 120rem 35rem;
      grid-row-gap: 0%;
      grid-column-gap: 2.5%;
      grid-template-areas: " barra " " hero " " cont " " footer "; } }
  main .barra {
    grid-area: barra;
    display: flex;
    list-style: none;
    font-size: 2rem;
    margin: 0;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      main .barra {
        display: block;
        position: fixed; } }
    main .barra button {
      width: 100%;
      right: 0;
      height: 5rem;
      border-radius: 4px;
      font-size: 3rem;
      z-index: 2;
      box-shadow: 0 0 20px #4f9;
      width: 100%;
      display: none; }
      @media only screen and (max-width: 37.5em) {
        main .barra button {
          display: block;
          position: absolute;
          top: 0;
          height: 5rem;
          width: 100%; } }
      main .barra button img {
        position: absolute;
        width: 50%;
        height: 50%; }
    main .barra ul {
      display: flex;
      list-style: none; }
      @media only screen and (max-width: 37.5em) {
        main .barra ul {
          display: inline;
          flex-flow: column;
          width: 100%;
          height: 5rem; }
          main .barra ul :hover {
            background-color: black;
            box-shadow: 0 0 20px #4f9;
            transition: 1s; } }
      main .barra ul li {
        margin: 4rem;
        cursor: pointer;
        color: white; }
        @media only screen and (max-width: 37.5em) {
          main .barra ul li {
            position: relative;
            text-align: center;
            width: 100%;
            height: 5rem;
            top: 5rem;
            cursor: pointer;
            display: none;
            background-color: rgba(0, 0, 0, 0.6);
            font-size: 3rem;
            color: white;
            margin: 0; }
            main .barra ul li :hover {
              background-color: black;
              box-shadow: 0 0 0 black;
              transition: 8s; } }
      main .barra ul a {
        text-decoration: none;
        margin: 4rem;
        cursor: pointer;
        color: white; }
    @media only screen and (max-width: 37.5em) {
      main .barra {
        flex-flow: column;
        width: 100%;
        margin: 0 0 20px;
        background-color: blue;
        height: 0;
        z-index: 1; } }
  main img {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      main img {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: -10;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%); } }
  main video {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -10;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%); }
  main .hero {
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    grid-area: hero;
    background: rgba(255, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: color-burn; }
    main .hero .header {
      position: absolute;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      text-align: center;
      width: 60rem;
      height: 20rem; }
      main .hero .header video {
        height: 100%;
        width: 100%; }
      main .hero .header img {
        height: 100%;
        width: 100%; }
      main .hero .header p {
        /* Primer resplandor */
        /* Parte de luz */
        /* Subida del fuego */
        /* Azuleo de la llama */
        font-size: 10rem;
        font-family: 'Matrix';
        color: white; }
        @media only screen and (max-width: 37.5em) {
          main .hero .header p {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            font-size: 5rem; } }
  main .footer {
    position: relative;
    grid-area: footer;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-around; }
    main .footer .columna {
      size: 0.5%;
      margin-left: 6rem; }
      main .footer .columna h6 {
        color: white;
        margin: 2rem;
        font-size: 2rem; }
      main .footer .columna .elemento {
        display: flex;
        position: relative;
        margin-left: 2rem;
        width: 5rem;
        height: 5rem; }
        main .footer .columna .elemento img {
          position: relative;
          border-radius: 50%;
          width: 100%;
          height: 100%; }
        main .footer .columna .elemento p {
          position: relative;
          top: 20%;
          color: white;
          margin-left: 2rem;
          font-size: 1.5rem; }
        main .footer .columna .elemento a {
          position: relative;
          top: 20%;
          color: white;
          margin-left: 2rem;
          font-size: 1.5rem;
          text-decoration: none; }
  @media only screen and (max-width: 56.25em) {
    main {
      grid-template-columns: 90rem;
      grid-template-rows: 5rem 40rem 62rem 25rem; } }
  @media only screen and (max-width: 37.5em) {
    main {
      grid-template-columns: 60rem;
      grid-template-rows: 5rem 35rem 120rem 25rem; } }

.contenedor {
  grid-area: cont;
  background-color: white;
  margin: 0;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 24rem);
  grid-template-rows: repeat(10, 10rem);
  grid-row-gap: 2%;
  grid-column-gap: 2.5%;
  max-width: 100%;
  grid-template-areas: " item-1  item-2 item-2 item-2 item-2  " " item-1  item-2 item-2 item-2 item-2  " " item-1  item-2 item-2 item-2 item-2  " " item-1  item-2 item-2 item-2 item-2  " " item-1  item-2 item-2 item-2 item-2  " " item-1  item-2 item-2 item-2 item-2  " " item-1  item-2 item-2 item-2 item-2  " " item-1  item-2 item-2 item-2 item-2  " " item-1  item-2 item-2 item-2 item-2  " " item-1  item-2 item-2 item-2 item-2  "; }
  @media only screen and (max-width: 56.25em) {
    .contenedor {
      grid-template-columns: 23rem 30rem 30rem;
      grid-template-rows: repeat(10, 5rem);
      grid-template-areas: " item-1  item-2 item-2 " " item-1  item-2 item-2 " " item-1  item-2 item-2 " " item-1  item-2 item-2 " " item-1  item-2 item-2 " " item-1  item-2 item-2 " " item-1  item-2 item-2 " " item-1  item-2 item-2 " " item-1  item-2 item-2 " " item-1  item-2 item-2 "; } }
  @media only screen and (max-width: 37.5em) {
    .contenedor {
      grid-template-columns: 27rem 27rem;
      grid-template-rows: 35rem 80rem;
      grid-template-areas: " item-1 item-1 " " item-2 item-2 "; } }
  .contenedor .item-1 {
    grid-area: item-1;
    overflow: auto;
    height: 95%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-flow: column;
    box-shadow: 8px 8px 8px black; }
    .contenedor .item-1 h3 {
      color: black; }
      @media only screen and (max-width: 37.5em) {
        .contenedor .item-1 h3 {
          font-size: 2.5rem; } }
    .contenedor .item-1 a {
      font-size: 1rem;
      margin: 3%;
      margin-left: 10%;
      cursor: pointer;
      color: blueviolet; }
      @media only screen and (max-width: 37.5em) {
        .contenedor .item-1 a {
          font-size: 2rem; } }
      .contenedor .item-1 a:hover {
        box-shadow: 0 0 20px rgba(201, 221, 22, 0.5);
        background-color: rgba(201, 221, 22, 0.5); }
  .contenedor .item-2 {
    grid-area: item-2;
    background-color: rgba(255, 255, 255, 0); }
    .contenedor .item-2 embed {
      height: 95%;
      box-shadow: 8px 8px 8px black; }
  .contenedor .item-3 {
    grid-area: item-3; }
  .contenedor .item-4 {
    grid-area: item-4; }
  .contenedor .item-5 {
    grid-area: item-5; }
  .contenedor .item-6 {
    grid-area: item-6; }

[class^="item-"] {
  border: 1rem;
  border-color: black; }

.tarjetas {
  margin: 3%;
  -webkit-perspective: 800;
  perspective: 800; }
  .tarjetas .tarjeta {
    margin-left: 8rem;
    position: relative;
    box-shadow: 0px 0px 20px 0px black;
    width: 20rem;
    height: 25rem;
    transform-style: preserve-3d;
    transition: 2s ease; }
    .tarjetas .tarjeta img {
      margin: 5%;
      background-size: contain;
      background-color: aliceblue;
      width: 90%;
      height: 60%; }
  .tarjetas .lado-a, .tarjetas .lado-b {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .tarjetas .lado-a {
    background: green; }
    .tarjetas .lado-a p {
      font-size: 2rem;
      text-align: center; }
  .tarjetas .lado-b {
    transform: rotateY(180deg);
    background: greenyellow; }
    .tarjetas .lado-b p {
      font-size: 1.5rem;
      margin: 5%;
      margin-top: 20%; }
  .tarjetas:hover .tarjeta {
    transform: rotateY(180deg); }
