body{

}
main{
display: grid;
grid-template-columns   : 100%;
grid-template-rows      : 5rem 50rem 120rem 35rem; 
grid-row-gap: 0%;   
grid-column-gap: 2.5%;   
max-width: 100%;

grid-template-areas: 
    " barra "
    " hero "
    " cont "
    " footer "
    ;

    & .barra{   
        grid-area: barra; 
        display: flex;  
        list-style: none;
        font-size: 2rem;  
        margin: 0;
        align-items: center;
        
        & li{
     //   background-color: rgba(255, 255,255, 0.5);
     //   border-radius: 1%;  
     //   border: 3px red ridge;      
        }
        & a{
        text-decoration: none;
        margin: 4rem;
    
        }
        }
    
& img{ 
  position: absolute;
  top: 50%; left: 50%;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}
& video{ 
  position: fixed;
  top: 50%; left: 50%;
  z-index: -10;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
    }   

    & .hero{ 
        background-color: rgba(255, 255,255, 0.5);
        position: relative;    
        grid-area: hero;   
        background: rgba(255, 0, 0, 0.2);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;  
        background-blend-mode: color-burn;
        
        & .header{
            position: absolute;
            @include centrar;
            //border-radius: 1%;  
            //border: 3px red ridge;     

            width: 60rem;
            height: 20rem;
            & video{
                height: 100%;
                width: 100%;
            }
            & img{
                height: 100%;
                width: 100%; 
            }
            & p{
                
                /* Primer resplandor */
               // text-shadow: 0px 0px 10px #FFF,
                /* Parte de luz */
              //  4px 2px 12px #DCB500,
               // -4px 2px 12px #DCB500,
                /* Subida del fuego */
              //  0px -6px 14px #FF7A00,
              //  0px -12px 14px #FF6300,
              //  0px -20px 14px #FF4400,
                /* Azuleo de la llama */
              //  0px -30px 14px #0A7BFF;
                
                font-size: 10rem;
                font-family:'Monster';
            }
        }
            
        
        }

    & .footer{
        position: relative;
        display: flex;
        flex-flow: column;
        grid-area: footer;
        background-color:rgba(0, 0,0,0.9);

        & .elemento{
            margin-left: 5rem; 
            & img{
                border-radius: 50%;
                width: 12rem;
                margin: 3rem;
            }
        }

        & h6{
            color: white;
            margin: 2rem;
            font-size: 2rem;
        }
        & p{
            color: white;
            margin: 2rem;
            font-size: 1.5rem;
            & img{
             
                width: 10px;
                height: 10px;
            }
        }
        
    }

    @include respond(tablet-v){
        grid-template-columns: 90rem;  
        grid-template-rows      : 5rem 40rem 62rem 25rem; 
       }

    @include respond(telefono){
        grid-template-columns: 60rem; 
        grid-template-rows      : 5rem 35rem 120rem 25rem; 
  
       }
}

.contenedor{
    grid-area: cont;
    background-color: white;
    margin: 0;
    padding: 2rem;
    display                 : grid;
    grid-template-columns   : repeat(5,24rem);
    grid-template-rows      : repeat(10,10rem); 
    grid-row-gap: 2%;   
    grid-column-gap: 2.5%;   
    max-width: 100%;

    grid-template-areas: 
    " item-1  item-2 item-2 item-2 item-2  "
    " item-1  item-2 item-2 item-2 item-2  "
    " item-1  item-2 item-2 item-2 item-2  "
    " item-1  item-2 item-2 item-2 item-2  "
    " item-1  item-2 item-2 item-2 item-2  "
    " item-1  item-2 item-2 item-2 item-2  "
    " item-1  item-2 item-2 item-2 item-2  "
    " item-1  item-2 item-2 item-2 item-2  "
    " item-1  item-2 item-2 item-2 item-2  "
    " item-1  item-2 item-2 item-2 item-2  "
    ;

    @include respond(tablet-v){
        grid-template-columns   : 23rem 30rem 30rem;
        grid-template-rows      : repeat(10,5rem); 
        grid-template-areas: 
        " item-1  item-2 item-2 "
        " item-1  item-2 item-2 "
        " item-1  item-2 item-2 "
        " item-1  item-2 item-2 "
        " item-1  item-2 item-2 "
        " item-1  item-2 item-2 "
        " item-1  item-2 item-2 "
        " item-1  item-2 item-2 "
        " item-1  item-2 item-2 "
        " item-1  item-2 item-2 "

        ;        
       }

    @include respond(telefono){
        grid-template-columns   : 27rem 27rem;
        grid-template-rows      : 35rem 80rem;
        grid-template-areas: 
        " item-1 item-1 "
        " item-2 item-2 "
        ;        
       }


    & .item-1{
    grid-area: item-1;
    overflow: auto;

    height: 95%;

    background-color: rgba(255, 255,255, 0.8);
    display: flex;  
    flex-flow: column;

    box-shadow: 8px 8px 8px black;
    & a{
        font-size: 1rem;
        margin: 3%;
        margin-left: 10%;
        cursor: pointer;
        &:hover{
            background-color: yellow;    
        }
        }
    }
    & .item-2{
    grid-area: item-2; 
    background-color: rgba(255, 255,255, 0);  
     & embed{
         height: 95%;
         box-shadow: 8px 8px 8px black;
     }
    }
    & .item-3{
    grid-area: item-3;    
    }
    & .item-4{
    grid-area: item-4;    
    }
    & .item-5{
    grid-area: item-5;    
    }
    & .item-6{
    grid-area: item-6;    
    }
    
}



//$ termine
//* contenga
//^=comience
[class^="item-"]{
border: 1rem;    
border-color: black;

}
    
