
.exterior{
display: grid;
grid-template-columns   : 100%;
grid-template-rows      : 5rem 50rem 60rem 35rem; 
grid-row-gap: 0%;   
grid-column-gap: 2.5%;   
min-width: 100%;

grid-template-areas: 
    " barra "
    " hero "
    " cont "
    " footer "
    ;

    & #img{ 
    
         @include respond(telefono){
             display: block;
             position: fixed;
             top: 50%; left: 50%;
             z-index: -10;
             min-width: 100%;
             min-height: 100%;
             width: 100%;
             height: 100%;
             transform: translate(-50%, -50%);
            }
     }
     & #videobg{ 
        position: fixed;
        top: 50%; left: 50%;
        z-index: -10;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translate(-50%, -50%);
         }   



       

    & .barra{   
        grid-area: barra;
        display: flex;  
        list-style: none;
        font-size: 2rem;
        margin: 0;
        align-items: center;

 
        @include respond(telefono){
            display: block;
            position: fixed;
            
        }
 
        & button{
            width: 100%;
            right: 0;
            height: 5rem;
            border-radius: 4px;
            font-size: 3rem;
            z-index: 2;
    
            box-shadow: 0 0 20px #4f9;
    
            width: 100%;

         
            display: none;
            @include respond(telefono){
                display: block;
                position: absolute;
                top: 0;
                height: 5rem;
                width: 100%;

            }
    
            & img{
                position: absolute;
                width: 50%;
                height: 50%;
            }
        }
        
        & ul{
        display: flex;
        list-style: none;

       
        @include respond(telefono){
        display: inline;    
        flex-flow: column;
        width: 100%;
        height: 5rem;

        & :hover{
            background-color: rgba(0, 0,0,1);
            box-shadow: 0 0 20px #4f9;
            transition: 1s;
        }

        }
            & li{  
                margin: 4rem;
                cursor: pointer;
                color: white;


                @include respond(telefono){
                    position: relative;
                    text-align: center;
                    width: 100%;
                    height: 5rem;
                    top:5rem;
                    cursor: pointer;
                    display: none;
              
                    background-color: rgba(0, 0,0,0.6);
                    font-size: 3rem;
                    color: white;
                    margin: 0;

                    & :hover{
                        background-color: rgba(0, 0,0,1);
                        box-shadow: 0 0 0 black;
                        transition: 8s;
                    }
                }
            }
            & a{
            text-decoration: none;
            margin: 4rem;
            cursor: pointer;
            color: white;
            }
        }
        
        
        
        @include respond(telefono){
            flex-flow: column;
            width: 100%;
            margin: 0 0 20px;
            background-color: blue;
            height: 0;
            z-index: 1;
           }
        }
    


    & .hero{ 
        background-color: rgba(255, 255,255, 0.5);
        position: relative;    
        grid-area: hero;   
        background: rgba(255, 0, 0, 0);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;  
        background-blend-mode: color-burn;
        
        & .header{
            position: absolute;
            @include centrar;
            text-align: center;
            //border-radius: 1%;  
            //border: 3px red ridge;   
         
            width: 60rem;
            height: 20rem;
            & video{
                height: 100%;
                width: 100%;
            }
            & img{
                height: 100%;
                width: 100%; 
            }
            & p{                
                font-size: 10rem;
                font-family:'Matrix';
                color: white;
                @include respond(telefono){
                    @include centrar;
                    font-size: 5rem;
                }  
            }
        }
            
        
        }

    & .footer{
        position: relative;
        grid-area: footer;
        background-color:rgba(0, 0,0,0.9);

        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        justify-content: space-around;
      //  align-content: space-between;
        


        & .columna{
            size: 0.5%;
            margin-left: 6rem; 
            & h6{
                color: white;
                margin: 2rem;
                font-size: 2rem;
            }
    
            & .elemento{
            display: flex;
            position: relative;   
            margin-left: 2rem; 
           // border-radius: 1%;  
           // border: 3px red ridge;
            width: 5rem;
            height: 5rem;
                & img{
                    display: block;
                    position: relative;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    @include respond(telefono){
                        display: block;
                        z-index: 0;
                    }
                }
                & p{
                    position: relative;
                    top: 20%;
                    color: white;
                    margin-left: 2rem;
                    font-size: 1.5rem;
                }
                & a{
                    position: relative;
                    top: 20%;
                    color: white;
                    margin-left: 2rem;
                    font-size: 1.5rem;
                    text-decoration: none;
                }
            }
        }

        
    }

    @include respond(tablet-v){
        grid-template-columns: 90rem;  
        grid-template-rows      : 5rem 40rem 130rem 25rem; 
       }

    @include respond(telefono){
        grid-template-columns: 60rem; 
        grid-template-rows      : 5rem 20rem 110rem 25rem; 
  
        grid-template-areas: 
            " barra "
            " hero "
            " cont "
            " footer "
            ;
       }
}

.contenedor2{

    grid-area: cont;
    background-color: white;
    margin: 0;
    padding: 2rem;
    display                 : grid;
    grid-template-columns   : repeat(5,24rem);
    grid-template-rows      : repeat(5,10rem); 
    grid-row-gap: 2%;   
    grid-column-gap: 4%;   
    max-width: 100%;

    grid-template-areas: 
    " item-1  item-1 item-2 item-2 item-2  "
    " item-1  item-1 item-2 item-2 item-2  "
    " item-1  item-1 item-2 item-2 item-2  "
    " item-1  item-1 item-2 item-2 item-2  "
    " item-1  item-1 item-2 item-2 item-2  "
    ;

    @include respond(tablet-v){
        grid-template-columns   : 23rem 30rem 30rem;
        grid-template-rows      : 50rem 70rem;
        grid-template-areas: 
        " item-2  item-2 item-2 "
        " item-1  item-1 item-1 "
    
        ;        
       }

    @include respond(telefono){
        grid-template-columns   : 27rem 27rem;
        grid-template-rows      : 40rem 65rem;
        grid-template-areas: 
        " item-2 item-2 "
        " item-1 item-1 "
        ;        
       }


    & .item-1{
    position: relative;
    grid-area: item-1;
    overflow: auto;
    height: 95%;
    box-shadow: 8px 8px 8px black;

       @include respond(tablet-v){
        width: 70.3%;  
        @include margentablet;
       }

        @include respond(telefono){
        width: 90%; 
         @include margenfono;
       }
    
    .tarjeta{
    display: flex;
    position: relative;
    background-color: black;
    height: 40%;
    border: red 5px none;
    border-style: outset;

    label{
    position: absolute;
    background-color: #D2E0E6;
    height: 10%;
    width: 99%;
    text-align: center;
    border-style: inset;
    }
    
        img{
        position: absolute;
        margin: 2%;
        width: 40%;
        left: 5%;
        height: 80%;
        padding: 2%;
            top: 10%;
        }

    .botones{
        position: absolute;
        display: flex;
        flex-flow: column;
        left: 48%;
        height: 80%;
        width:50%;
            top: 15%;
        button{
        position: relative;
        width: 80%;
        height: 100%;

        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -moz-transition: opacity 0.2s ease-in, top 0.2s ease-in;
        -ms-transition: opacity 0.2s ease-in, top 0.2s ease-in;
        -o-transition: opacity 0.2s ease-in, top 0.2s ease-in;
        -webkit-transition: opacity 0.2s ease-in, top 0.2s ease-in;
        transition: opacity 0.2s ease-in, top 0.2s ease-in;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
    
        font-size: 12px;
        padding: 0 10px;
  
        text-align: center;
        top: 2%;
        vertical-align: top;
        white-space: nowrap;
        
        padding: 3%;
        margin: 5%;
        left: 10%;
        }

    }
   
    }
  

    @include respond(telefono){
      //  align-items: center;
    }
    & h3{
        color: black;
        @include respond(telefono){
            font-size: 2.5rem;
        }
     }


    

    & a{
        font-size: 1rem;
        margin: 3%;
        margin-left: 10%;
        cursor: pointer;
        color: blueviolet;
        @include respond(telefono){
            font-size: 2rem;
        }
        &:hover{
            box-shadow: 0 0 20px rgba(201, 221, 22, 0.5); ;  
            background-color: rgba(201, 221, 22, 0.5); 
        }
        }
    }
    & .item-2{
    position: relative;    
    grid-area: item-2; 
    background-color: rgba(255, 255,255, 0);  
    width: 100%;

    & #video,#canvas{
        position: absolute;
        height: 95%;
        width: 83.7%;
        box-shadow: 8px 8px 8px black;
        
        @include respond(tablet-v){
        height: 95%;
        width: 70.3%;  
        @include margentablet;
       }

        @include respond(telefono){
        height: 95%;
        width: 90%;
        @include margenfono;
       }
    }
    
    
    }
    & .item-3{
    grid-area: item-3;    
    }
    & .item-4{
    grid-area: item-4;    
    }
    & .item-5{
    grid-area: item-5;    
    }
    & .item-6{
    grid-area: item-6;    
    }
    
}



//$ termine
//* contenga
//^=comience
[class^="item-"]{
border: 1rem;    
border-color: black;

}
    
